<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faculty Management</title>

    <link rel="stylesheet" href="./../css/style.css">
</head>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <div style="align-content: center; margin-left: 23em;">
        <nav style="display: flex;align-items: center; font-size: 20px;">
            <ul><a href="./../index.html" target="">WCE Sangli</a></ul>
            <ul><a href="./faculty.html">Faculty Info</a></ul>
            <ul><a href="./signin.html">Register</a></ul>
            <ul><a href="./login.html">Log In</a></ul>
        </nav>
    </div>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Electronics Faculty</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Faculty Name</th>
                                        <th>Faculty Post</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>	
                                            Dr.  B. G. Patil</td>
                                        <td>Associate Professor</td>
                                      
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td> Dr. S. S. Deshpande</td>
                                        <td>	Professor</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td> Dr. V. B. Dharmadhikari</td>
                                        <td>Associate Professor</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td> Mr. S. B. Dhaygude</td>
                                        <td>Associate Professor</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Dr. A. A. Agashe (HOD)</td>
                                        <td>Associate Professor</td>
                                    </tr>
                                </tbody>
                               
                            </table>
                    <div class="signup-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ59lGCn0dBUzZHgSWSr5-c1NbTmzxmcxHrbg&usqp=CAU">
                    </div>
                </div>
            </div>
        </section>
</body>
</html>